---
layout: base
---
<div class="content-page">
    <div class="text-header">
        <div class="text-meta">
            {{ date | readableDate }}{% if type %} · {{ type }}{% endif %}
        </div>
        <h1 class="text-title">{{ title }}</h1>
    </div>
    
    <div class="text-content">
        {{ content | safe }}
    </div>
</div>
